sentence-transformers==2.2.2   #to generate vector embeddings
langchain
flask #user interface
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
-e .